*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    background-color: #081b31;
    color: white;
    height: 3rem;
    line-height: 3rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;;

}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    gap: 2rem;
}
#user_score,#computer_scores{
    font-size: 5rem;
}
#ms{
    background-color: black;
    font-size: 3rem;
    color: white;
    display: flex-box;
    padding: 2rem;
    text-align: center;
}
img{
    border-radius: 40%;
    transition: all 1s ease;
}
img:hover{
    background-color: black;
    border-radius: 30%;
    border : 10px solid black;
    text-shadow: 0 0 10px black,
                0 0 30px black;

}
